<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.url }}" type="image/x-icon">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}

    <style> 
      .social-icons { 
        margin-top: 10px; 
        padding-left: 25px;
        } 

        .social-icons a { 
          margin: 0 10px; 
          color: #000; 
        } 

        .social-icons a:hover { 
          color: #0073b1; 
        } 
        
        .social-icons i { 
          font-size: 1.5em; 
          } 
      </style>

  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <div class="social-icons">  
          <a href="https://www.linkedin.com/in/sanjeetbhatti" target="_blank"> 
            <i class="fab fa-linkedin"></i> 
          </a>
          <a href="https://github.com/sanjeetbhatti" target="_blank"> 
            <i class="fab fa-github"></i> 
          </a> 
          <a href="mailto:sanjeetb.msc@gmail.com" target="_blank"> 
            <i class="fas fa-envelope"></i> 
          </a> 
        </div>

      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p class="view">This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a><br>
        <a href="{{ site.github.repository_url }}">View the Project on GitHub</a></p>
        {% endif %}
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
